{% set calendar = __SELF__.calendar %}
<form class="LoginForm" role="form" data-request="pageForm::onLoginAttempt" data-request-flash>
  <table>
    <tr>
      <th><a style="float: left" href='/leave-tracker?date={{ calendar.previousMonth }}'>prev</a></th>
      <th><h2>{{calendar.englishMonth}} {{calendar.year}}</h2></th>
      <th><a href='/leave-tracker?date={{ calendar.nextMonth }}' style="float: right">next</a></th>
    </tr>
  </table>
  <br/>
  <table>
    <tr>
      <td><div class="header"><p>Mon</p></div></td>
      <td><div class="header"><p>Tues</p></div></td>
      <td><div class="header"><p>Wed</p></div></td>
      <td><div class="header"><p>Thurs</p></div></td>
      <td><div class="header"><p>Fri</p></div></td>
      <td><div class="header"><p>Sat</p></div></td>
      <td><div class="header"><p>Sun</p></div></td>
    </tr>
    {% for date in calendar.dates %}
    {% if date.day == '1' %}
    <tr>
      <td style='border: 1px {% if date.date != "" %} solid gray; cursor: pointer;{% endif %}' {% if date.date != "" %} onclick="document.location.href='/leave-tracker/details?date=';" {% endif %}>
        <div class="content">{{date.date}}</div>
      </td>
    {% elseif date.day < '7'%}
      <td style='border: 1px {% if date.date != "" %} solid gray; cursor: pointer; {% endif %}' {% if date.date != "" %} onclick="document.location.href='/leave-tracker/details?date=';" {% endif %}>
        <div class="content">{{date.date}}</div>
      </td>
    {% else %}
     <td style='border: 1px {% if date.date != "" %} solid gray; cursor: pointer; {% endif %}' {% if date.date != "" %} onclick="document.location.href='/leave-tracker/details?date=';" {% endif %}>
          <div class="content">{{date.date}}</div>
      </td>
    </tr>
    {% endif %}
    {% endfor %}
  </table>
</form>

<style type="text/css">
  table {
      margin: 0 auto;
      width:50%;
  }
  @media only screen and (max-width: 600px) {
    table {
        width:100%;
    }
  }
  td {
      /*width:30%;*/
      position:relative;
      /*border-style: solid;*/

  }
  td:after{
      content:'';
      display:block;
      margin-top:100%;
  }
  td .content {
      position:absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
      background:white;
  }

  td .header {
      position:absolute;
      top:25%;
      bottom:0;
      left:0;
      right:0;
      background:white;
  }

</style>