description = "Login Partial"
==
<section  class="wrapper style1" id="login">
    <div class="container">
        <div style="text-align: center" id="content">
            <h3>Login</h3>
            <form>
                <div style="text-align: center" class="row 50%">
                    <div class="6u 12u(mobilep)">
                        <input type="text" name="name" id="name" placeholder="Name" />
                    </div>
                </div>
                <div style="text-align: center" class="row 50%">
                    <div class="6u 12u(mobilep)">
                        <input type="email" name="email" id="email" placeholder="Email" />
                    </div>
                </div>
                <div class="row 50%">
                    <div class="12u">
                        <textarea name="message" id="message" placeholder="Message" rows="5"></textarea>
                    </div>
                </div>
                <div class="row 50%">
                    <div class="12u">
                        <ul class="actions">
                            <li><input type="submit" class="button alt" value="Send Message" /></li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>