==
<!-- Footer -->
<div id="footer">
    <!-- Icons -->
    <ul class="icons">
        <li><a href="https://www.facebook.com/canlas.nikko" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="https://gitlab.com/canlasnikko" class="icon fa-gitlab"><span class="label">GitLab</span></a></li>
        <li><a href="https://www.linkedin.com/in/nikko-canlas-53890791/" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
    </ul>

    <div class="copyright">
        <ul class="menu">
            <li>© Auxilium by Nikko Lazo Canlas for Project Webe</li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            <li>Demo Images: <a href="http://unsplash.com">Unsplash</a></li>
        </ul>
    </div>

</div>