==
<!-- Footer -->
<div id="footer">
    <div class="container">
        <div class="row">
            <section class="3u 6u(narrower) 12u$(mobilep)">
                <h3>Links to Stuff</h3>
                <ul class="links">
                    <li><a href="#">Mattis et quis rutrum</a></li>
                    <li><a href="#">Suspendisse amet varius</a></li>
                    <li><a href="#">Sed et dapibus quis</a></li>
                    <li><a href="#">Rutrum accumsan dolor</a></li>
                    <li><a href="#">Mattis rutrum accumsan</a></li>
                    <li><a href="#">Suspendisse varius nibh</a></li>
                    <li><a href="#">Sed et dapibus mattis</a></li>
                </ul>
            </section>
            <section class="3u 6u$(narrower) 12u$(mobilep)">
                <h3>More Links to Stuff</h3>
                <ul class="links">
                    <li><a href="#">Duis neque nisi dapibus</a></li>
                    <li><a href="#">Sed et dapibus quis</a></li>
                    <li><a href="#">Rutrum accumsan sed</a></li>
                    <li><a href="#">Mattis et sed accumsan</a></li>
                    <li><a href="#">Duis neque nisi sed</a></li>
                    <li><a href="#">Sed et dapibus quis</a></li>
                    <li><a href="#">Rutrum amet varius</a></li>
                </ul>
            </section>
            {% partial 'template/footer_form' %}
        </div>
    </div>

    <!-- Icons -->
    <ul class="icons">
        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
        <li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
        <li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
    </ul>

    <div class="copyright">
        <ul class="menu">
            <li>© Untitled. All rights reserved</li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            <li>Demo Images: <a href="http://unsplash.com">Unsplash</a></li>
        </ul>
    </div>

</div>