==
<div id="header">

    <!-- Logo -->
    <h1><a href="{{ 'home'|page }}" id="logo">Arcana <em>by HTML5 UP</em></a></h1>

    <!-- Nav -->
    <nav id="nav">
        <ul>
            <li class="current"><a href="{{ 'home'|page }}">Home</a></li>
            <li>
                <a href="#">Dropdown</a>
                <ul>
                    <li><a href="#">Lorem dolor</a></li>
                    <li><a href="#">Magna phasellus</a></li>
                    <li><a href="#">Etiam sed tempus</a></li>
                    <li>
                        <a href="#">Submenu</a>
                        <ul>
                            <li><a href="#">Lorem dolor</a></li>
                            <li><a href="#">Phasellus magna</a></li>
                            <li><a href="#">Magna phasellus</a></li>
                            <li><a href="#">Etiam nisl</a></li>
                            <li><a href="#">Veroeros feugiat</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Veroeros feugiat</a></li>
                </ul>
            </li>
            <li><a href="{{ 'left-sidebar'|page  }}">Left Sidebar</a></li>
            <li><a href="{{ 'right-sidebar'|page }}">Right Sidebar</a></li>
            <li><a href="{{ 'two-sidebar'|page   }}">Two Sidebar</a></li>
            <li><a href="{{ 'no-sidebar'|page    }}">No Sidebar</a></li>
        </ul>
    </nav>

</div>