==
<div id="header">

    <!-- Logo -->
    <h1 style="padding-bottom: 0em"><a href="{{ 'home'|page }}" id="logo">Auxilium</a></h1>
    <p><em>Configurable and developer friendly assistant app for Project Webe</em></p>

    <!-- Nav -->
    <nav id="nav">
        <ul>
            <li></li>
        </ul>
    </nav>

</div>