{% set status = __SELF__.status %}
<div style="text-align: left"><a href="/status-report?date={{status.report_date}}">Return to Overview</a></div>
<br />
<div class="wrapper">
  <div class="left">
    <div>
      <a style="float: left" href='/status-report/details?date={{ status.previous_date }}'>prev</a>
      <span>{{status.weekday}}, {{status.date}}</span>
      <a href='/status-report/details?date={{ status.next_date }}' style="float: right">next</a>
    </div>
    <br />
    <form class="StatusForm" role="form" data-request="statusDetail::onStatusSaveAttempt" data-request-flash>
      <input type="text" name="title" id="title" placeholder="Title: Maximum of 20 characters" value="{{status.title}}"></input>
      <br />
      <textarea name="description" id="summernote">{{status.description}}</textarea>
      <br />
      <div style="text-align: left">
        <ul class="actions">
          <li><input type="submit" name="saveBtn" id="saveBtn" value="Save"></input></li>
        </ul>
      </div>
    </form>
  </div>
  <div id="two" class="right">Repositories</div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-lite.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-lite.js"></script>

<script>
  $('#summernote').summernote({
    toolbar: [
      // [groupName, [list of button]]
      ['style', ['bold', 'italic', 'underline', 'clear']],
      ['fontsize', ['fontsize']],
      ['para', ['ul', 'ol', 'paragraph']],
      ['link']
    ],
    height: 300,
    placeholder: 'Your task description'
  });
  $('#summernote').summernote('justifyLeft');
</script>
<style type="text/css">
.wrapper { 
  /*border : 2px solid #000; */
  overflow:hidden;
}

.wrapper div {
   /*min-height: 200px;*/
   /*padding: 10px;*/
}
.left {
  /*background-color: gray;*/
  float:left; 
  margin-right:20px;
  width:70%;
  /*border-right:2px solid #000;*/
}
.right { 
  /*background-color: white;*/
  overflow:hidden;
  margin:10px;
  /*border:2px dashed #ccc;*/
  min-height:170px;
}

@media screen and (max-width: 600px) {
   .left { 
    float: none;
    margin-right:0;
    width:auto;
    border:0;
    /*border-bottom:2px solid #000;    */
  }
}
</style>