{% set profile_details = __SELF__.profile_details %}

<div class="wrapper">
  <h2>Profile Details</h2>
  <form class="LoginForm" role="form" data-request="profile::onChangeDetailsAttempt" data-request-flash>
    <div class="field">
      <span>Email: {{profile_details.email}}</span>
    </div>
    <div class="field">
      <input type="text" name="name" id="name" placeholder="Name" value="{{profile_details.name}}"/>
    </div>
    <div class="field">
      <input type="text" name="eid" id="eid" placeholder="EID" value="{{profile_details.eid}}"/>
    </div>
    <div class="field">
      <input type="text" name="role" id="role" placeholder="Role" value="{{profile_details.role}}"/>
    </div>
    <ul class="actions">
      <li><input type="submit" name="saveBtn" id="saveBtn" value="Save"></input></li>
    </ul>
  </form>
  <hr />
</div>

