description = "Footer"
==
<footer id="footer">
	<ul class="copyright">
		<li>&copy; Nikko Lazo Canlas</li>
		<li>Created using <a href="http://tempestronics.com">OctoberCMS</a></li>
    <li>Icon made by Freepik from <a href="www.flaticon.com">FlatIcon</a></li>
    <li>For Project Webe</a></li>
	</ul>
</footer>