description = "Login Form"
==
{% component 'pageForm' %}
<h2>Login</h2>
<form class="LoginForm" role="form" data-request="pageForm::onLoginAttempt" data-request-flash>
	<div class="field">
		<input type="email" name="email" id="email" placeholder="Email" />
	</div>
	<div class="field">
		<input type="password" name="password" id="password" placeholder="Password" />
	</div>
	<!-- <div class="field">
		<div class="select-wrapper">
			<select name="usertype" id="usertype">
				<option value="">Login As</option>
				<option value="user">User</option>
				<option value="admin">Admin</option>
			</select>
		</div>
	</div> -->
	<ul class="actions">
		<li><input type="submit" name="loginBtn" id="loginBtn"></input></li>
	</ul>
</form>
<hr />