description = "Registration Form"
==
<h2>Register</h2>
<form class="RegisterForm" role="form" data-request="pageForm::onRegisterationAttempt" data-request-flash data-request-success="setTimeout(function(){window.location.replace('/')}, 2000);">
	<div class="field">
		<input type="text" name="name" id="name" placeholder="Full Name" />
	</div>
	<div class="field">
		<input type="email" name="email" id="email" placeholder="Email" />
	</div>
	<div class="field">
		<input type="text" name="eid" id="eid" placeholder="EID" />
	</div>
	<div class="field">
		<input type="text" name="role" id="role" placeholder="Role" />
	</div>
	<div class="field">
		<input type="password" name="password" id="password" placeholder="Password" />
	</div>
	<div class="field">
		<input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password" />
	</div>
	<div class="field">
		<label for="usertype">Type</label>
		<div class="select-wrapper">
			<select name="usertype" id="usertype">
				<option value="user">User</option>
				<option value="admin">Admin</option>
			</select>
		</div>
	</div>
	<div class="field">
		<input type="password" name="referrer" id="referrer" placeholder="Referrer Code" />
	</div>
	<ul class="actions">
		<li><input type="submit" name="registerBtn" id="registerBtn"></input></li>
	</ul>
</form>
<hr />


<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
$('#usertype').change(function() {
    if($(this).val() == "admin"){
        $('#referrer').show();
    } else {
        $('#referrer').hide();
    }
    
}).change();
</script>