description = "Social Icons"
==
<footer>
	<ul class="icons">
		<li><a target="_new" href="#" class="fa-twitter">Twitter</a></li>
		<li><a target="_new" href="#" class="fa-google-plus">Google+</a></li>
		<li><a target="_new" href="#" class="fa-facebook">Facebook</a></li>
	</ul>
</footer>
