description = "Holder for all widgets on this website"
==
<h1>Widgets</h1>
<hr />
<ul class="actions">
    <li>
        <header>
            <span class="avatar">
                <a href="/profile"><img width="80" height="80" src="{{ 'assets/images/003-find-my-friend.png'|theme }}" alt="" style="border-radius: 0; box-shadow: none" /> My Profile</a>
            </span>
        </header>
        
    </li>
	<li>
	    <header>
            <span class="avatar">
                <a href="/leave-tracker"><img width="80" height="80" src="{{ 'assets/images/015-friendship-day.png'|theme }}" alt="" style="border-radius: 0; box-shadow: none"/> Leave Tracker</a>
            </span>
        </header>
	    
	</li>
	<li>
	    <header>
            <span class="avatar">
                <a href="/status-report"><img width="80" height="80" src="{{ 'assets/images/027-feedback.png'|theme }}" alt="" style="border-radius: 0; box-shadow: none"/> Status Report</a>
            </span>
        </header>
	</li>
    <li>
        <header>
            <span class="avatar" style="box-shadow: none">
                <a href="/"><img width="80" height="80" src="{{ 'assets/images/007-high-five.png'|theme }}" alt="" style="border-radius: 0; box-shadow: none"/> Logout</a>
            </span>
        </header>
    </li>
	
</ul>
<hr />