title = "Page Not Found (404)"
url = "/404"
layout = "default"
is_hidden = 0
==
<section id="error" class="container text-center">
    <h5 class="index-headline normal"><span>404, Page Not Found</span></h5>
    <p>The page you are looking for doesn't exist or another error occurred.</p>
</section>