title = "Error Page (500)"
url = "/error"
layout = "default"
is_hidden = 0
==
<section id="error" class="container text-center">
    <h5 class="index-headline normal"><span>Ooops! An Error Occured.</span></h5>
    <p>We're so sorry, the page you requested cannot be displayed due to an error.</p>
</section>