title = "Home"
url = "/"
layout = "default"
is_hidden = 0

[pageForm]
==
<?php
function onInit()
{
    $user = \BackendAuth::getUser();
    $profilePhoto = '';
    if ( $user && $user -> avatar ) {
            $profilePhoto = $user -> avatar;
    }
    $this['profilePhoto'] = $profilePhoto;
}
?>
==
{% component 'pageForm' %}
<section id="main">
    <header>
        <!-- <span class="avatar"> -->
            <img width="122" height="122" src="{{ 'assets/images/047-think.png'|theme }}" alt="" />
        <!-- </span> -->
        
    	<h1>Auxilium</h1>
    	<p><em>for Project Webe ACN</em></p>
    </header>
    
	{% partial 'login' %}
	
	<a href="/register">Not yet a user? Click here to register</a>
</section>