title = "Leave Tracker"
url = "/leave-tracker"
layout = "default-new-plugins"
is_hidden = 0

[leaveOverview]
==
<section id="main">

  <div>{% component 'leaveOverview' %}</div>
  <div></div>
  <br />
  <div><a href="/landing">Return to Home</a></div>
  
</section>