title = "Site Maintenance"
url = "/offline"
layout = "default"
is_hidden = 0
==
<section id="error" class="container text-center">
    <h5 class="index-headline normal"><span>Offline</span></h5>
    <p>This site is currently down for maintenance.<br>Please return soon.</p>
</section>