title = "Profile"
url = "/profile"
layout = "default"
is_hidden = 0

[profile]
==
<section id="main">

  <div>{% component 'profile' %}</div>
  <br />
  <div><a href="/landing">Return to Home</a></div>
  
</section>