title = "Register"
url = "/register"
layout = "default"
is_hidden = 0

[pageForm]
==
<section id="main">
    {% component 'pageForm' %}
	{% partial 'register' %}
	
	<a href="/">Already have an account? Click here to login</a>
</section>