title = "Status Report page"
url = "/status-report"
layout = "default-new-plugins"
is_hidden = 0

[statusOverview]
==
<section id="main">
  
  <div>{% component 'statusOverview' %}</div>
  
</section>