title = "Status Report Detail Page"
url = "/status-report/details"
layout = "default-new-plugins"
is_hidden = 0

[statusDetail]
==
<section id="main">
  <div>{% component 'statusDetail' %}</div>
</section>
