==
<!DOCTYPE HTML>
<!--
    Arcana by HTML5 UP
    html5up.net | @ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>{{ this.page.title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
<!--[if lte IE 8]><script src="{{ 'assets/js/ie/html5shiv.js'|theme }}"></script><![endif]-->
    <link href="{{ [
        'assets/css/main.css',
        'assets/css/custom.css',
    ]|theme }}" rel="stylesheet">
    {% styles %}
<!--[if lte IE 8]><link rel="stylesheet" href="{{ 'assets/css/ie8.css'|theme }}" /><![endif]-->
<!--[if lte IE 9]><link rel="stylesheet" href="{{ 'assets/css/ie9.css'|theme }}" /><![endif]-->
</head>
<body>
    <div id="page-wrapper">
        {% partial 'template/header' %}
        {% page %}
        {% partial 'template/footer' %}
    </div>

    <script src="{{ [
        'assets/js/jquery.min.js',
        'assets/js/jquery.dropotron.min.js',
        'assets/js/skel.min.js',
        'assets/js/util.js',
        'assets/js/main.js',
        '@framework',
        '@framework.extras']|theme }}"></script>
<!--[if lte IE 8]><script src="{{ 'assets/js/ie/respond.min.js'|theme }}"></script><![endif]-->
    {% scripts %}

</body>
</html>